.header {
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  box-shadow: inset 0px -0.5px 0px #e6e6e6;

}


.header .container {
  flex:1;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.website-name{
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  color: rgb(122, 14, 14);
}

.website-logo {
  height: 50px;
  margin-left: 20px;
}

.header-middle-center {
  padding: 0 30px;
  flex: 1;
}

.form-search {
  display: flex;
  justify-content: center;
  position: relative;
}

.form-search-input {
  height: 40px;
  outline: none;
  border: none;
  background-color: #f0f0f0;
  padding: 10px 20px;
  padding-left: 0;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  width: 65%;
  /* border: 1px solid #e6ecf0;
  background-color: #f5f8fa; */
}

.filter-btn,
.search-btn {
  border: none;
  outline: none;
  font-size: 20px;
  height: 40px;
  padding: 0 15px;
  color: text;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-btn {
  background-color: #f0f0f0;
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
}

.filter-btn {
  background-color: rgb(122, 14, 14);
  height: 30px;
  color: white;
  width: 75px;
  border-radius: 99px;
  position: relative;
  right: 80px;
  top: 5px
}

.filter-btn span {
  font-size: 14px;
  margin-left: 5px;
}

.search-button,
.voice-search-button,
.upload-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.logo .tooltip,
.upload-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip {
  opacity: 1;
}



.right-section {
  width: 150px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.user-icon {
  height: 25px;
  color: rgb(122, 14, 14);
  position: relative;
}

.header-bottom {
  transition: transform 0.6s ease;
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
  z-index: 4;
}

.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-bottom.hide {
  transform: translateY(-50px);
}

.menu-list {
  display: flex;
  height: 49px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.menu-link {
  color: black;
  display: inline-block;
  padding: 15px 20px;
  text-transform: uppercase;
  position: relative;
  font-size: 15px;
}

.menu-link:hover::after {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.menu-link::after {
  content: "";
  position: absolute;
  height: 2px;
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  transition: visibility 0.3s, transform 0.3s, opacity 0.3s;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgb(122, 14, 14);
  transition: all 0.3s ease;
}

.header-middle-right-item-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  cursor: pointer;
}

.cart-icon-menu {
  position: relative;
}

.cart-icon-menu i {
  font-size: x-large;
  font-weight: 500;
  color:rgb(122, 14, 14);
  padding-right: 10px;
}

.cart-icon-menu span {
  color: white;
  background: rgb(122, 14, 14);
  height: 20px;
  left: 20px;
  top: -15px;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  padding: 0px 7px;
  z-index: 100;
}