.main-wrapper {
    overflow: hidden;
    /*padding-top: 60px;*/
    padding-top: 60px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.home-title-block {
    padding: 0 10px 10px;
    scroll-margin-top: 80px;
}

.home-slider {
    align-items: center;
    overflow: hidden;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

/* css for manual slide navigation */

.navigation-manual{
    position: absolute;
    width: 95%;
    display: flex;
    margin-top: 30%;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child)
{
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: rgb(122, 14, 14);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    width: 95%;
    display: flex;
    margin-top: 30%;
    justify-content: center;
}

.navigation-auto div{
    border: 2px solid #ffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child)
{
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(122, 14, 14);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(122, 14, 14);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(122, 14, 14);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(122, 14, 14);
}

.home-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.home-service {
    display: flex;
    margin-top: 30px;
    column-gap: 20px;
    scroll-margin-top: 30px;
    white-space: nowrap;
    overflow-x: auto;
    margin: 10px 0;
    padding: 10px 3px;
}

.home-service-item {
    box-shadow: 0px 1px 9px 2px #f1f1f1;
    width: 25%;
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 5px;
}

.home-service-item-icon i {
    font-size: 50px;
    margin-right: 25px;
    color: rgb(122, 14, 14);
}

.home-service-item-content-h {
    font-size: 15px;
    color: var(--text-color)
}

.home-service-item-content-desc {
    margin-top: 4px;
    font-size: 14px;
    color: #888
}

.home-title {
    /* font-family: 'Lobster', cursive; */
    font-weight: 600;
    text-align: center;
    font-size: 21px;
    position: relative;
    text-transform: uppercase;
    margin-top: 30px;
}

.underline {
    position: absolute;
    margin-top: 2px;
    height: 3px;
    background-color: rgb(122, 14, 14);
    width: 25%;
    left: 38%;
}


/*Product*/

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 60px;
    padding-left: 10px;
    padding-right: 15px;
    max-width: 1130px;
}

.thumbnail {
    width: 100%;
    border-radius: 12px;
    transition: transform .2s;
    object-fit: cover;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.product-info {
    text-align: center;
    align-items: center;
}

.product-preview {
    width: 100%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-title {
    margin-top: 0;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.product-price {
    font-size: 17px;
    font-weight: bold;
    color: red;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.order-button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-style: outset;
    border-color: rgb(250, 221, 214);
    background-color: rgb(255, 255, 255);
}

.order-button i {
    font-size: 35px;
    position: relative;
}

.order-button p {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

.order-button:hover {
    background-color: rgb(122, 14, 14);
    color: white;
    border: 2px outset rgb(122, 14, 14);
}

.video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}